[Unit]
Description=Streamlit Web App
After=network.target

[Service]
ExecStart=/home/ec2-user/.local/bin/streamlit run /home/ec2-user/vending_machine_management_web/app.py
WorkingDirectory=/home/ec2-user/vending_machine_management_web
Restart=always
User=ec2-user

[Install]
WantedBy=multi-user.target